In [4]:
import urllib
import pandas as pd

In [5]:
urllib.request.urlretrieve(
    'https://data.dgl.ai/tutorial/dataset/graph_edges.csv', './graph_edges.csv')
urllib.request.urlretrieve(
    'https://data.dgl.ai/tutorial/dataset/graph_properties.csv', './graph_properties.csv')
edges = pd.read_csv('./graph_edges.csv')
properties = pd.read_csv('./graph_properties.csv')

In [6]:
edges

      graph_id  src  dst
0            0    0    1
1            0    0   14
2            0    1    0
3            0    1    2
4            0    2    1
...        ...  ...  ...
3279        39    5    5
3280        39    6    6
3281        39    7    7
3282        39    8    8
3283        39    9    9

[3284 rows x 3 columns]

In [8]:
properties.head()

   graph_id  label  num_nodes
0         0      0         15
1         1      0         10
2         2      0         13
3         3      0         13
4         4      0         17